/* Estilos para .MuiDataGrid-columnHeaderCheckbox .MuiDataGrid-columnHeaderTitleContainer */
.dataGrid .MuiDataGrid-columnHeaderCheckbox .MuiDataGrid-columnHeaderTitleContainer {
    /* display: none; */
    /* background-color: #fff; */
}

/* Estilos para .MuiDataGrid-columnHeaderWrapper */
.dataGrid .MuiDataGrid-columnHeaderWrapper {
    /* background-color: #503464; */
    /* background-color: #fff; */
    color: #fff;
}

/* Estilos para .MuiDataGrid-columnHeader y .MuiDataGrid-cell */
.dataGrid .MuiDataGrid-columnHeader,
.dataGrid .MuiDataGrid-cell {
    border-right: 2px solid #f0f0f0;
}

/* Estilos para .MuiDataGrid-cell y .MuiDataGrid-cell--textLeft */
.dataGrid .MuiDataGrid-cell,
.dataGrid .MuiDataGrid-cell--textLeft {
    /* height: auto; */
    white-space: initial !important;
    word-wrap: break-word !important;
    max-height: fit-content !important;
    /* maxHeight: auto; */
}

/* Estilos para .MuiDataGrid-cellContent */
.dataGrid .MuiDataGrid-cellContent {
    overflow: hidden !important;
    /* text-overflow: ellipsis; */
    max-height: fit-content !important;
    word-break: break-word !important;
    white-space: normal !important;
}

/* Estilos para .MuiDataGrid-row */
.dataGrid .MuiDataGrid-row {
    max-height: fit-content !important;
}

/* Estilos para .MuiSvgIcon-root dentro de .MuiDataGrid-sortIcon */
/* .dataGrid .MuiDataGrid-sortIcon .MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall.css-ptiqhd-MuiSvgIcon-root {
    color: #fff;
} */

/* Estilos para .super-app-theme--header */
/* .dataGridContainer .super-app-theme--header {
    background-color: #503464;
    color: #fff;
} */

/* Estilos para .MuiIconButton-label dentro de .super-app-theme--header */
/* .dataGridContainer .super-app-theme--header .MuiIconButton-label {
    color: #fff;
} */

/* .dataGridContainer .MuiDataGrid-toolbarContainer {
    justify-content: end;
} */

/* Estilos para .MuiSvgIcon-root dentro de .MuiDataGrid-sortIcon */
/* .dataGridContainer .MuiDataGrid-sortIcon .MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall.css-ptiqhd-MuiSvgIcon-root {
    color: #fff;
} */

.dataGridContainer {
    width: fit-content;
}